#testimonials {
  /* background: #f4f4f4; */
  padding: 50px 0;
  text-align: center;
}

.testimonial-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.testimonial-item p {
  margin-bottom: 20px;
}

.testimonial-item {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}